@page
@using Microsoft.AspNetCore.Hosting
@using System.Net
@using System.Web
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment

@model IndexModel
@{
    ViewData["Title"] = "Device Monitoring";
}

@section Styles {
    <link rel="stylesheet" href="~/js/dist/main.bundle.css" />
    <link rel="stylesheet" href="~/css/index.css" />
}

<div id="device-checker-status-main"></div>

@section Scripts {

    <script src="~/js/dist/main.bundle.js"></script>
    <script>
        var DeviceManagement = DeviceManagementLib.default;
        const jsonModel = @Html.Raw(Json.Serialize(Model.Devices));
        const deviceManagement = new DeviceManagement("device-checker-status-main", jsonModel);
    </script>
}

